# Ollama API URL (use host.docker.internal if running inside Docker on macOS/Windows)
BIOMEDCAT_OLLAMA_URL=http://host.docker.internal:11434

# Renci Resolver URL
RENCI_URL=http://example.com/renci

# Arax Resolver URL
ARAX_URL=http://example.com/arax
